@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Title {Home}
@section Styles {@Styles.Render("~/css/home")}
@model StreamInSync.Models.HomeVM

<div class="row">
    <div class="col-md-6">
        <h6>@Html.ActionLink("New Room", "Create", "Room")</h6>
        <h6>@Html.ActionLink("Join Room", "Join", "Room")</h6>
        <h2>Your Rooms</h2>
        @foreach (var userRoom in Model.UserRooms)
        {
            @Html.Partial("~/Views/Partials/RoomSummary.cshtml", userRoom)
        }
    </div>

    <div class="col-md-6">
    </div>
</div>