@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Title {Home}

<div class="row">
    <div class="col-md-4">
        <h2>Your Rooms</h2>
        <p>Table of rooms here</p>
    </div>
    <div class="col-md-4">
        <h2>Start new room</h2>
        <p>@Html.ActionLink("Create", "Create", "Room")</p>
    </div>
    <div class="col-md-4">
        <h2>Join Room</h2>
        <p>@Html.ActionLink("Join", "Join", "Room")</p>
    </div>
</div>