#room-info-container {
    font-size: 1em;
    color: darkslategrey;
    margin: 0 0 10px 0;
}

#controls-container {
    margin: 0 0 10px 0;
}

#break-button {
    background: url("break-icon-small.jpg");
    background-position: center;
    margin: 0 0 0 5px; 
}

.media-control {
    height: 40px;
    width: 40px;
    margin: 0 5px 0 0;
}

#update-time-button {
    margin: 0 0 0 5px;
}

.time-input {
    height: 40px;
    width: 40px;
    margin: 0 2px 0 2px 0;
}

#programme-controls-container,
#break-controls-container,
#break-time-container {
    display: flex;
    flex-direction: row;
}

#programme-controls-container,
#break-controls-container {
    margin: 0 0 10px 0;
}

.colon {
    line-height: 30px;
}

#progress-bar {
    display: inline-block;
    width: 10px;
    background-color: lightgray;
    height: calc(100vh - 179px);
    position: absolute;
    margin-left: -16px;
    z-index: 4;
}

    #progress-bar.selected {
        width:40px;
    }

#progress-bar-click-zone {
    width: 20px;
    display: inline-block;
    position: absolute;
    height: calc(100vh - 179px);
    margin-left: -16px;
    z-index: 5;
}

    #progress-bar-click-zone.selected {
        width: 50px;
    }

#progress-bar-fill {
    background-color: #E00000;
}

#room-container {
    display: inline-block;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#time-preview {
    display: none;
    position: absolute;
    height: 40px;
    width: 100px;
    border: 1px solid #E00000;
    z-index: 3;
    background-color: dimgray;
    text-align: center;
    font-size: 1.5em;
    color: white;
    line-height: 36px;
}