body {
    min-height: calc(100vh - 56px);
}

.body-content {
    padding-top: 5px;
}

input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: fixed;
    bottom: 0;
}

.highlight {
    color: #E00000;
}


/* Navbar */

nav.navbar {
    width: 100%;
    background-color: lightgrey;
}
